* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.radial {
  background:
    radial-gradient(circle 400px at 0% 0%, #3584e570, transparent 100%),
    radial-gradient(circle 300px at 40% 50%, #e535dc70, transparent 80%),
    radial-gradient(circle 400px at 90% 0%, #ad2cd456, transparent 80%);
}

.intro {
  background-color: black;
  min-height: 100dvh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);

  backdrop-filter: blur(10px) saturate(150%);
  -webkit-backdrop-filter: blur(10px) saturate(150%);

  width: 80%;
  padding: 20px;
  margin: 10px 10%;
  border-radius: 40px;

  animation: fromtop 1.5s ease;

  z-index: 999;

  position: fixed;
  top: 0;
}

.neil {
  text-decoration: none;
  color: white;

  font-size: 20px;
  font-family: Arial Rounded mt;
  font-weight: 600;

  margin: 0 3%;

  transition: 0.3s;
}

.neil:hover {
  transform: scale(1.2);
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.links li {
  list-style: none;
}

.links a {
  text-decoration: none;
  color: rgb(205, 201, 201);

  padding: 13px;

  border-radius: 20px;

  font-size: 15px;
  font-family: Arial Rounded mt;

  transition: 0.3s;
}

.links a:hover {
  color: white;
}

.links button {
  border: 0;
  padding: 13px 20px;
  border-radius: 20px;
  background: transparent;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-family: impact;
  transition: 0.3s;

  font-family: Arial Rounded mt;
}

.contain-a {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

.main {
  display: flex;
}

.section {
  min-height: 100dvh;
  flex: 1.7;

  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  margin-top: 60px;
  display: flex;
  align-items: start;
  flex-direction: column;

  max-width: 800px;
  width: 100%;
}

.name {
  font-size: 75px;

  font-family: Arial Rounded mt;

  color: white;
  font-weight: bolder;
  display: flex;
  justify-content: flex-start;

  animation: fadein 1s ease;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.name2 {
  font-size: 75px;

  background:
    radial-gradient(circle at left, #3584e5ac, transparent 70%),
    radial-gradient(circle at center, #ad2cd4a0, transparent 120%),
    radial-gradient(circle at right, #e535dcbc, transparent 80%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: Arial Rounded mt;
  font-weight: bolder;
  display: flex;
  justify-content: flex-start;

  animation: fadein2 1s ease-in-out;
}

@keyframes fadein2 {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.welcome {
  display: flex;
  justify-content: start;
  font-size: 20px;
  font-family: Arial Rounded mt;

  color: #35c8e5c0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px) saturate(150%);
  -webkit-backdrop-filter: blur(20px) saturate(150%);

  width: 34%;
  border-radius: 15px;
  padding: 10px;

  animation: fadeinright 1.5s ease;
}

@keyframes fadeinright {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.message {
  color: #aab4c0b1;
  font-family: Arial Rounded mt;
  font-weight: bolder;
  letter-spacing: 0.5px;
  font-size: 20px;

  margin-right: 8%;

  display: flex;
  justify-content: flex-start;
  text-align: start;

  animation: fadein2 1.3s ease-in-out;

  margin-top: 20px;
}

.aside {
  min-height: 1;
  flex: 1;
}

.container {
  display: flex;
  justify-content: end;

  gap: 30px;
}

.btn1 {
  text-decoration: none;
  background: linear-gradient(
    150deg,
    rgba(0, 0, 255, 0.427),
    rgba(121, 2, 185, 0.493),
    rgba(128, 0, 128, 0.847)
  );

  color: white;
  font-size: 20px;
  font-weight: 900;

  font-family: Arial Rounded mt;

  margin-right: 40px;
  padding: 12px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 30px;

  transition: 0.3s;

  animation: fadeinright 1.5s ease;
}

.btn1:hover {
  box-shadow: 0 0 40px purple;
  color: black;
}

.btn {
  background-color: transparent;
  color: white;
  font-weight: 900;

  border: 2px solid rgb(122, 0, 128);
  font-size: 20px;

  font-family: Arial Rounded mt;

  padding: 12px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 30px;

  transition: 0.3s;

  animation: fadeinright 1.5s ease;
}

.btn:hover {
  background-color: purple;
  color: black;
  box-shadow: 0 0 40px purple;
}

.aside {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic {
  margin-top: 80px;
  background-color: black;
  min-height: 80vh;
  width: 70%;
  border-radius: 30px;

  background-image: url("FB_IMG_1790065355883.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  transform: rotate(4deg);

  animation: appear 3s ease;

  transition: 0.3s;
}

@keyframes appear {
  from {
    opacity: 0;
    filter: blur(20px);
  }
  to {
    opacity: 1;
  }
}

.pic:hover {
  transform: scale(1.04);
  border: 1px solid rgb(60, 0, 128);
  box-shadow: 0 0 80px rgb(60, 0, 128);

  object-fit: fill;
}

.image {
  display: flex;
  justify-content: flex-start;
}

.Fb {
  height: 50px;
  margin-top: 20px;

  margin-right: 20px;

  transition: 0.3s;
}

.git {
  height: 50px;
  margin-top: 20px;

  margin-right: 40px;

  transition: 0.3s;
}

.image img:hover {
  transform: scale(1.2);
}

/*------------ABOUT ME PAGE-------------*/
.aboutme {
  min-height: 100dvh;
  background-color: black;
}

.aboutme {
  min-height: 100vh;
  background-color: black;
}

.radiant-back {
  min-height: 100dvh;
  background: radial-gradient(
    circle 400px at 40% 45%,
    #3584e52f,
    transparent 100%
  );
}

.about-container {
  display: flex;
}

.left-side {
  min-height: 100dvh;
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side {
  display: flex;
  justify-content: start;
  align-items: end;

  min-height: 100dvh;
  flex: 1;
}

.info-me {
  color: white;
  padding: 20px;

  position: relative;
}

.info-me::after {
  position: absolute;
  content: "";

  height: 3px;
  width: 130%;
  bottom: 100%;

  background:
    radial-gradient(circle at left, #3584e5ac, transparent 70%),
    radial-gradient(circle at center, #ad2cd4a0, transparent 120%),
    radial-gradient(circle at right, #e535dcbc, transparent 80%);
}

.head1 {
  font-size: 75px;
  margin-bottom: 40px;
}

.head2 {
  font-size: 22px;
  margin-bottom: 40px;
}

.info-me p {
  color: grey;
}

.para-1 {
  margin-bottom: 20px;
}

.info-me h1,
.info-me p {
  font-family: Arial Rounded mt;
}

.my-pic {
  max-width: 900px;
  width: 95%;
  height: 88%;

  background-image: url("FB_IMG_1790065355883.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 20px;
}

.blue-col {
  color: #3584e5ac;
}

.sec-2 {
  min-height: 100dvh;
  background-color: #f4f6fb;

  margin: 0;
}

.back-design {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100dvh;

  background:
    radial-gradient(circle at 0% 50%, rgba(168, 85, 247, 0.2), transparent 32%),
    radial-gradient(
      circle at 100% 50%,
      rgba(56, 189, 248, 0.2),
      transparent 32%
    ),
    radial-gradient(
      circle at 50% 100%,
      rgba(236, 72, 153, 0.1),
      transparent 35%
    );
}

.main-content {
  border-radius: 25px;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 85%;

  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

  background-color: rgba(255, 255, 255, 0.28);
  backdrop-filter: blur(20px) saturate(150%);
  -webkit-backdrop-filter: blur(20px) saturate(150%);
}

.p {
  margin: 0 1%;
  color: gray;
  font-size: 17px;
  margin-bottom: 10px;

  font-family: Arial Rounded mt;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 1%;
}

.content h1 {
  color: black;
  font-size: 50px;
  margin-bottom: 24px;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 1px;
}

.content p {
  font-size: 17px;
  color: gray;

  font-family: Arial Rounded mt;
}

.contain-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.card {
  background-color: rgba(255, 255, 255, 0.28);
  backdrop-filter: blur(20px) saturate(150%);
  -webkit-backdrop-filter: blur(20px) saturate(150%);

  border: 1px solid rgba(128, 128, 128, 0.68);
  border-radius: 20px;
  padding: 35px;
  padding-top: 0;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  margin: 10px;

  max-height: 2500px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;

  transition: 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

.card h1 {
  font-size: 38px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  letter-spacing: 1px;
  transition: 0.3s ease;

  color: black;
}

.card p {
  font-size: 15px;
  color: grey;

  font-family: Arial Rounded mt;
}

.web-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

.logo {
  height: 40px;
}
