* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.radial {
  background:
    radial-gradient(circle 400px at 0% 0%, #3584e570, transparent 100%),
    radial-gradient(circle 300px at 40% 70%, #e535dc70, transparent 80%),
    radial-gradient(circle 400px at 70% 0%, #ad2cd456, transparent 80%);
}

.intro {
  background-color: black;
  min-height: 100dvh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: black;

  backdrop-filter: blur(10px) saturate(150%);
  -webkit-backdrop-filter: blur(10px) saturate(150%);

  width: 80%;
  padding: 20px;
  margin: 10px 10%;
  border-radius: 40px;

  animation: fromtop 1.5s ease;

  z-index: 999;

  position: fixed;
  top: 0;
}

.neil {
  text-decoration: none;
  color: white;

  font-size: 20px;
  font-family: Arial Rounded mt;
  font-weight: 600;

  margin: 0 3%;

  transition: 0.3s;
}

.neil:hover {
  transform: scale(1.2);
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.links li {
  list-style: none;
}

.links a {
  text-decoration: none;
  color: grey;

  padding: 13px;

  border-radius: 20px;

  font-size: 15px;
  font-family: Arial Rounded mt;

  transition: 0.3s;
}

.links a:hover {
  color: white;
}

.links button {
  border: 0;
  padding: 13px 20px;
  border-radius: 20px;
  background: transparent;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-family: impact;
  transition: 0.3s;

  font-family: Arial Rounded mt;
}

.contain-a {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

.main {
  display: flex;
}

.section {
  min-height: 100dvh;
  flex: 1.7;

  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  margin-top: 60px;
  display: flex;
  align-items: start;
  flex-direction: column;

  max-width: 800px;
  width: 100%;
}

.name {
  font-size: 75px;

  font-family: Arial Rounded mt;

  color: white;
  font-weight: bolder;
  display: flex;
  justify-content: flex-start;

  animation: fadein 1s ease;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.name2 {
  font-size: 75px;

  background:
    radial-gradient(circle at left, #3584e5ac, transparent 70%),
    radial-gradient(circle at center, #ad2cd4a0, transparent 120%),
    radial-gradient(circle at right, #e535dcbc, transparent 80%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: Arial Rounded mt;
  font-weight: bolder;
  display: flex;
  justify-content: flex-start;

  animation: fadein2 1s ease-in-out;
}

@keyframes fadein2 {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.welcome {
  display: flex;
  justify-content: start;
  font-size: 20px;
  font-family: Arial Rounded mt;

  color: #35c8e5c0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px) saturate(150%);
  -webkit-backdrop-filter: blur(20px) saturate(150%);

  width: 34%;
  border-radius: 15px;
  padding: 10px;

  animation: fadeinright 1.5s ease;
}

@keyframes fadeinright {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.message {
  color: #aab4c0b1;
  font-family: Arial Rounded mt;
  font-weight: bolder;
  letter-spacing: 0.5px;
  font-size: 20px;

  margin-right: 8%;

  display: flex;
  justify-content: flex-start;
  text-align: start;

  animation: fadein2 1.3s ease-in-out;

  margin-top: 20px;
}

.aside {
  min-height: 1;
  flex: 1;
}

.container {
  display: flex;
  justify-content: end;

  gap: 30px;
}

.btn1 {
  text-decoration: none;
  background: linear-gradient(
    150deg,
    rgba(0, 0, 255, 0.427),
    rgba(121, 2, 185, 0.493),
    rgba(128, 0, 128, 0.847)
  );

  color: white;
  font-size: 20px;
  font-weight: 900;

  font-family: Arial Rounded mt;

  margin-right: 40px;
  padding: 12px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 30px;

  transition: 0.3s;

  animation: fadeinright 1.5s ease;
}

.btn1:hover {
  box-shadow: 0 0 40px purple;
  color: black;
}

.btn {
  background-color: transparent;
  color: white;
  font-weight: 900;

  border: 2px solid rgb(122, 0, 128);
  font-size: 20px;

  font-family: Arial Rounded mt;

  padding: 12px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 30px;

  transition: 0.3s;

  animation: fadeinright 1.5s ease;
}

.btn:hover {
  background-color: purple;
  color: black;
  box-shadow: 0 0 40px purple;
}

.aside {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic {
  margin-top: 80px;
  background-color: black;
  min-height: 80vh;
  width: 70%;
  border-radius: 30px;

  background-image: url("FB_IMG_1790065355883.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  transform: rotate(4deg);

  animation: appear 3s ease;

  transition: 0.3s;
}

@keyframes appear {
  from {
    opacity: 0;
    filter: blur(20px);
  }
  to {
    opacity: 1;
  }
}

.pic:hover {
  transform: scale(1.04);
  border: 1px solid rgb(60, 0, 128);
  box-shadow: 0 0 80px rgb(60, 0, 128);

  object-fit: fill;
}

.image {
  display: flex;
  justify-content: flex-start;
}

.Fb {
  height: 50px;
  margin-top: 20px;

  margin-right: 20px;

  transition: 0.3s;
}

.git {
  height: 50px;
  margin-top: 20px;

  margin-right: 40px;

  transition: 0.3s;
}

.image img:hover {
  transform: scale(1.2);
}
